In [1]:
from src import cleaning_companies

In [2]:
#In which cities do we find the top 10 gaming companies?
df_companies = cleaning_companies.find_top_10_gaming_cities()
df_companies

            City  Count
0  San Francisco     14
1       New York     13
2         London      7
3    Los Angeles      6
4          Paris      5
5   Santa Monica      4
6       Shanghai      4
7   Redwood City      4
8         Madrid      2
9        Atlanta      2